/*
https://github.com/drinchev/monosocialiconsfont
*/
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('social-font/MonoSocialIconsFont-1.10.eot');
    src: url('social-font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('social-font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('social-font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('social-font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('social-font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.social .symbol {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
